<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1> Home Page </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% if username %}
        <p>Logged in as {{ username }}</p>
        <b><a href="/logout">click here to log out</a></b>
    {% else %}
        <p>You are not logged in</p>
        <a href="/login"><b>click here to log in</b></a>
    {% endif %}
</body>
</html>
